#tbx input[type="text"] {
    background: 10px 6px #444 !important;
    border: 0 none !important;
    font: bold 12px Arial,Helvetica,Sans-serif !important;
    color: #FF5A00 !important;
    width: 150px !important;
    padding: 6px 15px 6px 35px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    
	-webkit-transition: all 0.7s ease 0s !important;
    -moz-transition: all 0.7s ease 0s !important;
    -o-transition: all 0.7s ease 0s !important;
    transition: all 0.7s ease 0s !important;
    }
.tbx{
    background: 10px 6px #444 !important;
    border: 0 none !important;
    font: bold 12px Arial,Helvetica,Sans-serif !important;
    color: #FF5A00 !important;
    width: 150px !important;
    padding: 6px 15px 6px 35px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset !important;
    
	-webkit-transition: all 0.7s ease 0s !important;
    -moz-transition: all 0.7s ease 0s !important;
    -o-transition: all 0.7s ease 0s !important;
    transition: all 0.7s ease 0s !important;
    }